$monokai-red: #f92672;
$monokai-green: #a6e22e;
$monokai-orange: #fd971f;
$monokai-blue: #66d9ef;
$monokai-purple: #ae81ff;
$monokai-yellow: #e6bd74;
$monokai-gray: #75715e;
$monokai-black: #272822;
$monokai-white: #f8f8f2;

$vcalendar-gray: #A0AEC0;
$vcalendar-gray-light: #F7FAFC;
$vcalendar-gray-dark: #283141;
$vcalendar-red: #F56565;
$vcalendar-red-light: #FED7D7;
$vcalendar-red-dark: #7B292C;
$vcalendar-orange: #ED8936;
$vcalendar-orange-light: #FEEBC8;
$vcalendar-orange-dark: #7B3924;
$vcalendar-yellow: #ECC94B;
$vcalendar-yellow-light: #FEFCBF;
$vcalendar-yellow-dark: #784B1C;
$vcalendar-green: #48BB78;
$vcalendar-green-light: #C6F6D5;
$vcalendar-green-dark: #245542;
$vcalendar-teal: #38B2AC;
$vcalendar-teal-light: #B2F5EA;
$vcalendar-teal-dark: #244E54;
$vcalendar-blue: #4299E1;
$vcalendar-blue-light: #BEE3F8;
$vcalendar-blue-dark: #27456C;
$vcalendar-indigo: #667EEA;
$vcalendar-indigo-light: #C3DAFE;
$vcalendar-indigo-dark: #393977;
$vcalendar-purple: #9F7AEA;
$vcalendar-purple-light: #E9D8FD;
$vcalendar-purple-dark: #46357E;
$vcalendar-pink: #ED64A6;
$vcalendar-pink-light: #FED7E2;
$vcalendar-pink-dark: #78245D;
$vcalendar-black: #1A202C;
$vcalendar-disable: #CBD5E0;
